/// VARIABLES

// Colors
$main-gray: #535C68;
$mid-gray: #7F8FA6;
$light-gray: #F0F1F5;
$main-blue: #031233;
$mid-blue: #11224C;
$light-blue: #273C75;
$main-green: #7BB941;
$mid-green: #65A62F;
$dark-green: #448815;

// Font family
$h-font: 'Euclid Circular B';
$b-font: 'Avenir Next';

// General variables
$vr-07: .4375rem;
$vr-10: .625rem;
$vr-11: .6875rem;
$vr-12: .75rem;
$vr-13: .8125rem;
$vr-14: .875rem;
$vr-15: .9375rem;
$vr-16: 1rem;
$vr-17: 1.0625rem;
$vr-18: 1.125rem;
$vr-19: 1.1875rem;
$vr-20: 1.25rem;
$vr-24: 1.5rem;
$vr-25: 1.5625rem;
$vr-26: 1.625rem;
$vr-27: 1.625rem;
$vr-28: 1.75rem;
$vr-30: 1.875rem;
$vr-32: 2rem;
$vr-36: 2.25rem;
$vr-40: 2.5rem;
$vr-42: 2.625rem;
$vr-48: 3rem;
$vr-50: 3.125rem;
$vr-60: 3.75rem;
$vr-80: 5rem;
$vr-90: 5.625rem;
$vr-100: 6.25rem;
$vr-137: 8.5625rem;
$vr-140: 8.75rem;
$vr-150: 9.375rem;
$vr-160: 10rem;
$vr-362: 22.625rem;
$vr-510: 31.875rem;
$vr-754: 47.125rem;