---
title: About Us
---

<main class="container">
	<header class="row mb-60">
		<div class="col-lg-8 mb-30">
			<h2 class="h-tt">About <b>Us</b></h2>
			<p class="p-info">Some text here</p>
		</div>
	</header>
</main>
