---
title: Contact
---

<main class="container firstBody">

    <header class="row">
		<div class="col-lg-8 mb-30">
			<h2 class="h-tt">Contact</h2>
			<p class="p-info">Some text here</p>
		</div>
	</header>

    <div class="row mb-160">
        <div class="col-md-7">
            <form id="needs-validation" novalidate>
            <div class="form-group">
                <label class="form-control-label" for="formName">Name:</label>
                <input type="text" class="form-control" id="formName" placeholder="Your name" required>
                <div class="invalid-feedback">Please, write your name</div>
            </div>
            <div class="form-group">
                <label class="form-control-label" for="formMail">E-mail:</label>
                <input type="email" class="form-control" id="formMail" placeholder="Your e-mail" required>
                <div class="invalid-feedback">Please, write your e-mail</div>
            </div>
            <div class="form-group">
                <label for="selectSteiner">Subject</label>
                <select class="form-control" id="selectSteiner">
                    <option selected>Choose your option</option>
                    <option>Option 01</option>
                    <option>Option 02</option>
                    <option>Option 03</option>
                    <option>Option 04</option>
                </select>
            </div>
            <div class="form-group">
                <label for="formMessage">Messenger:</label>
                <textarea class="form-control" id="formMessage" rows="3" placeholder="Your Messenger" required></textarea>
                <div class="invalid-feedback">Please, write you messenger</div>
            </div>
            <button type="submit" class="btn btn-primary ml-auto d-block">Send <i class="link-go">→</i></button>
            </form>
        </div>
    </div>

</main>
