---
title: Starter Kit
---

<div class="container">
  <div class="jumbotron text-center mt-3">
    <h1 class="display-4">Starter Kit</h1>
    <p class="lead">This is a simple and fast web starter kit made with <b>Middleman</b>, <b>Webpack</b>, <b>Bootstrap</b> and <b>FontAwesome</b>.</p>
    <hr class="my-4">
    <p>I hope that this starter kit can be utility for you.</p>
  </div>
</div>